body {
    font: 1 rem sans-serif;
    background: white;
    color: #7CFC00;
    margin: 40px;
    }

    .container1, .container2 {
        display: grid;
        grid-template-columns: repeat(3, minmax(100px,1fr));
        grid-template-rows: repeat(4,80px);
        margin-bottom: 50px;

    }


    .box1{
        grid-column: 1 / span 3;
        grid-row: 1;
        background: #1E90FF;
    }

    .box2{
        opacity: .7;
        grid-column: 2 / 4;
        grid-row: 1/span 2;
        background: #B0C4DE;
    }

     .box3{
        grid-column: 1;
        grid-row: 3/span 2;
        background: #32CD32;
    }

    .box4{
        opacity: .7;
        grid-column: 2;
        grid-row: 3/5;
        position:relative;
        left:-40%;
        top:-100%;
        background: #FFA500;
    }

    .container2 > .box1 {z-index:4;}
    .container2 > .box2 {z-index:3;}
    .container2 > .box3 {z-index:2;}
    .container2 > .box4 {z-index:1;}







