body {
    font: 1 rem sans-serif;
    background: white;
    color: #7CFC00;
    margin: 40px;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 90px 90px;
        grid-gape:10px;
    }





