body {
    font: 1.5rem sans-serif;
    background: white;
    color: #7CFC00;
    margin: 40px;
    }

    .container {
        display: grid;
        /* grid-template-rows: 60px 40px 200px 60px; */ /* fixar altura*/
        /* grid-template-columns: 200px 700px 200px; */ /* fixar largura*/
        grid-template-areas:
            "topo topo topo"
            "menu menu menu"
            "primaria principal secundaria"
            "rodape rodape rodape";
        grid-gap:5px 10px;
    }

    .topo {grid-area:topo;}
    .menu {grid-area:menu;}
    .principal {grid-area:principal;}
    .primaria {grid-area:primaria;}
    .secundaria {grid-area:secundaria;}
    .rodape {grid-area:rodape;}





